div {
    float: left;
    border: 1px solid;
}

canvas {
    border: 1px solid black;
}

input {
    border-width: 0px;
    text-align: center;
    vertical-align: center;
    font-size: 18pt;
}
#id_canvas_div {
    width: 70%;
    position: relative;
}
#id_editor_div {
    width: 29%;
    text-align: center;
    position: relative;
}